.client-logo {
    max-width: 200px;
    margin: 15px;
    /* filter: grayscale(100%); */
}

.client-logo:hover {
    filter: none;
}

hr {
    width: 90%;
    margin-bottom: 10px !important;
}

#techs {
    margin-top: 50px;

    .column {
        margin: 0%;
        padding: 8px;
        margin-bottom: 20px;
    }

    #skills p {
        font-weight: bold;
    }
}

/* brands */
.brands .columns {
    text-align: center;
    display: inline-block;
}

.colors-charts-mean {
    width: 100% !important;
    margin-top: 35px;
    display: flex;
    /* Permite que os elementos envolvam em dispositivos móveis */


    span {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin: 0%;
        padding: 0%;
    }

    p {
        margin-left: 0;
        /* Remova o espaçamento padrão dos parágrafos */
        margin-right: 10px;
        /* Remova o espaçamento padrão dos parágrafos */
        margin-bottom: 10px;
        /* Adiciona espaço entre os parágrafos */
    }
}

@media (max-width: 640px) {
    .colors-charts-mean {
        flex-wrap: wrap;
    }
}



.info-work-education {
    padding: 0% !important;
    margin: 0% !important;
    width: auto !important;
}

#languageList span {
    color: #2199E8;
}

#languageList .fi-star {
    padding-left: 1px;
}


.info-work-education li {
    font-size: smaller !important;
}

.first-text {
    border: none !important;
}


.client-logo {
    height: 100px;
}

.social-icons a {
    font-size: 20px !important;
    font-weight: bold;
}

.social-icons {
    margin-bottom: 30px !important;
}

.accordion {
    background-color: transparent;
}

.accordion-title {
    font-size: large !important;
    font-weight: bold !important;
}

html {
    scroll-behavior: smooth;
}

.off-canvas-wrapper {
    bottom: 0 !important;
}

.off-canvas-content {
    padding-bottom: 100px !important;
    /* Altura do footer */
}

#back-to-top-btn {
    background-color: #ffffff;
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 9999;
    border-radius: 100%;
    padding: 10px 14px 10px 14px;
}

.fi-arrow-up {
    font-size: large;
    color: #222831;
}


.kode-mono {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.first-color {
    background-color: #222831 !important
}

.third-color {
    /* background: #ffffff; */
    color: #ffffff !important;
    background-color: #222831 !important
}

.second-color {
    /* background: #ffffff; */
    color: #ffffff !important;
    background-color: #222831 !important
}


.fourth-color {
    background-color: #222831 !important
}

.fourth-color-text {
    color: #2199E8;
    font-weight: bold
}

.general-text,
label {
    color: white;
}

.avatar {
    border-radius: 100% 100% 100% 100%;
}

.column-avatar {
    padding: 10px;
}

#my-info {
    color: #ffffff !important;
    background-color: #222831 !important;
}

.accordion-content .column {
    padding: 5px;
    margin: 0%;

}

.accordion {
    /* background: #ffffff; */
    color: #ffffff !important;
    background-color: #222831 !important
}


/* Estilo para garantir que as imagens mantenham o mesmo tamanho */
.thumbnail-wrapper {
    position: relative;
    overflow: hidden;
}

.thumbnail {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
    object-position: center;
    border: none !important;
    box-shadow: #007bff 14px 14px 14px 14px !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Alterado para 100% */
    background-color: #fffffff9;
    color: #007bff;
    opacity: 0;
    justify-content: start;
    align-items: start;
    padding: 20px;
    transition: opacity 0.3s ease;

    .lead {
        font-weight: bold;
    }

    a {
        font-weight: bold;
    }
}

@media (max-width: 640px) {
    .overlay {
        font-size: small;

        .lead {
            font-size: small !important;
        }
    }
}

/* card */
.card:hover .overlay {
    opacity: 1;
}

.card-footer {
    text-align: center;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-top: 0%;
}

.card-footer span {
    font-weight: bold;
    font-size: small;
    color: rgb(255, 255, 255) !important;
    padding: 5px;
    border-radius: 100px 100px 100px 100px !important;
}


/* .card {
    height: auto;
    position: relative;
} */

/* icons */

.icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.skills-section .icon {
    position: absolute;
    background-color: #2199E8;
    /* border-radius: 30% 30% 30% 30%; */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    /* Ajusta a posição horizontal */
    margin-top: -40px;
    width: 100%;
    padding: 0px 10px 0px 10px;
}

/* skills-section */

.skills-section h5 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0%;
}

.skills-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.skills-section ul li {
    padding: 5px 0;
    font-size: 16px;
}

.skills-section .icon-skills {
    font-size: 30px;
}

.skills-section-card {
    position: relative;
    padding: 15px;
    margin-bottom: 25px;
    /* Para que a posição do ícone seja relativa a este elemento */
}

/* menu */
.menu-li {
    border-bottom: 2px solid transparent;
    /* Adiciona uma borda transparente por padrão */
}

.menu-li:hover {
    /* background-color: #2a2438; */
    border-bottom: 2px solid #2a2438;
}

/* Typewriter Effect */
.welcome {
    display: grid;
}

.welcome .fourth-color-text {
    width: 16ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    justify-self: flex-start;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.top-bar-right {
    margin-right: 10px;
    padding: 0;
    font-size: 3ch;
}

/* Scroll */
/* Altera a cor da barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* largura da barra de rolagem */
}

/* Altera a cor do fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #ffffff; /* cor de fundo da barra de rolagem */
}

/* Altera a cor do indicador da posição atual */
::-webkit-scrollbar-thumb {
    background: #2199E8;/* cor do indicador da posição atual */
}

/* Altera a cor da borda da barra de rolagem */
::-webkit-scrollbar-thumb:hover {
    background: #555;/* cor da borda da barra de rolagem quando o mouse está sobre ela */
}


/* Estilos para a barra superior */
.top-bar {
    display: flex; /* Ativa o modelo de layout flexível */
    justify-content: center; /* Centraliza os itens ao longo do eixo principal (horizontal) */
    align-items: center;
}

/* Estilos para a lista de menu */
.menu {
    display: flex; /* Ativa o modelo de layout flexível para os itens do menu */
    padding: 0; /* Remove o preenchimento padrão da lista */
    list-style: none; /* Remove os marcadores de lista */
}

/* Estilos para os itens do menu */
.menu-li {
    font-size: 1em; /* Tamanho de fonte padrão */
    padding: 0.5em 1em; /* Espaçamento interno */
}

/* Estilos para a barra direita */
.top-bar-right {
    display: flex; /* Ativa o modelo de layout flexível */
    align-items: center; /* Centraliza verticalmente os itens */

    a{
        margin: 3px;
    }
}

/* Media query para ajustes em dispositivos móveis */
@media only screen and (max-width: 600px) {
    .menu-li {
        font-size: 0.8em; /* Reduz o tamanho da fonte para telas menores */
    }
}

